---
import GithubIcon from '../icons/Github.astro'
import LikedinIcon from '../icons/Linkedin.astro'
import PhoneIcon from '../icons/Phone.astro'
import SocialPill from '../socialPill/SocialPill.astro'
import YoutubeIcon from '../icons/Youtube.astro'
import MailIcon from '../icons/Mail.astro'
import SectionContainer from '../sectionContainer/SectionContainer.astro'

const tel = 1123914307
---

<SectionContainer class="flex flex-col md:flex-row gap-x-8 justify-center items-center md-items-start pb-0">

    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400  w-full md:w-2/5 mb-10 md:mb-0" >
        <ul class="flex flex-col gap-8 [&>li]:inline-flex">
            <li>                
                <SocialPill href=`tel:+54${tel}`>
                    <PhoneIcon 
                    class="size-4 lg:size-5" />
                    +54 11-2391-4307
                </SocialPill>
            </li>
            <li>                
                <SocialPill>
                    <LikedinIcon 
                    class="size-4 lg:size-5" />
                    /andres-gutierrez-developer
                </SocialPill>
            </li>
            <li>                
                <SocialPill>
                    <GithubIcon 
                    class="size-4 lg:size-5" />
                    /andres-developer19
                </SocialPill>
            </li>
            <li>
                <SocialPill>
                    <MailIcon 
                    class="size-4 lg:size-5"/>
                    andres.developer19@gmail.com
                </SocialPill>
            </li>
            <li>                
                <SocialPill>
                    <YoutubeIcon 
                    class="size-4 lg:size-5" />
                    AndresGtz
                </SocialPill>
            </li>
        </ul>
    </div>
    <div class="imageProfileAbout w-full md:w-3/5">
        
<form class="max-w-sm mx-auto">
    
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
    </div>
    
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label 
            for="floating_last_name" 
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Last name
        </label>
        </div>
      </div>

    <div class="relative z-0 w-full mb-5 group">
        <label 
        for="message" 
        class="peer-focus:font-medium absolute text-md text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-4 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Your message
    </label>
        <textarea id="message" rows="4" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Leave a comment..."></textarea>
    </div>
    <a 
    type="submit" 
    class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-md w-full px-5 py-2.5 text-center border border-white/10 bg-white/5 hover:scale-101 hover:bg-white/10 transition">
    Submit
        </a>
  </form>
  
    </div>
</SectionContainer>