---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto md:w-[740px] px-[15px] md-px-[40px] pb-24`}
>
  <slot />
</section>