<section
  class="flex gap-x-8 justify-center flex-col md:flex-row items-center md:items-start"
>
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 w-full md:w-3/6">
    <p>
      Mi nombre es Richard gonzalez. Egresado como Ingeniero en informatica
      desde el 2013 de la UPTA "Federico Brito Figueroa"
    </p>
    <p>
      A lo largo de mi vida he realizado diversidad de cursos como lo son:
      <br>Operador de Micros
      <br>Desarrollo de Aplicaciones: Introduccion a Java
      <br>SQL (Structured Query Laguage)
      <br>PROGRAMACION ESTRUCTURADA
      <br>JAVASCRIPT
      <br>HTML5
      <br>JAVA SE
      <br>JAVA EE
      <br>PROGRAMACION EN ANDROID
      <br>Angular (Autodidacta)
      <br>Java - Spring Boot (Autodidacta)
      <br>Laravel (Autodidacta)
      <br>Codeigniter (Autodidacta)
    </p>
       
    
    <p>
      Manejo lenguajes de programación PHP, Java y Tipescript. Asi como Frameworks como Codeigniter, Laravel y Angular. Adicional a esto, manejo HTML5, CSS, Javascript, Jquery, API's restfull, base de datos MySql y PostgresQl, CMSs como wordpress
    </p>
    <div class="imageProfileAbout w-3/6">
      <img
        class="w-full object-cover aspect-auto hover:shadow-2xl"
        src="./foto.png"
        alt=""
      />
    </div>
  </div>
</section>
