<section class="flex gap-x-8 justify-center flex-col md:flex-row items-center md:items-start">

<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400  w-full md:w-3/6" >
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cumque impedit quaerat? Perferendis dolorum consequuntur fuga necessitatibus ut, quasi sapiente ratione cupiditate porro.
    </p>
    <p>
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati esse praesentium hic?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis iure officiis maxime aliquam architecto expedita fugiat?
</div>
<div class="imageProfileAbout w-3/6">
    <img class="w-full object-cover aspect-auto hover:shadow-2xl" src="./public/foto.png" alt="">
</div>
</section>